.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row-reverse;
  overflow: hidden;
  background-color: var(--background-color);
  padding: 0 10%;
  margin-top: 6rem;
}

@media only screen and (max-width: 660px) {
  .main {
    min-height: 500px;
    height: fit-content;

    padding: 0;
  }
}
